/* Font-face declarations.
   Latin serif (Cormorant Garamond, SIL OFL) is loaded via @fontsource and
   bundled by Vite — see main.tsx — so no external CDN, local-first principle.
   Inter / JetBrains Mono use local() only; the fallback chain in tokens.css
   handles platforms where they are not installed. Cormorant Garamond is SIL OFL (license bundled with @fontsource). */

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: local('Inter'), local('Inter-Regular');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 100 800;
  font-display: swap;
  src: local('JetBrains Mono'), local('JetBrainsMono-Regular');
}
